@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #3c4852;
  font-size: 15px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

header {
  background: linear-gradient(
    141deg,
    #242648 0%,
    #232144 40%,
    #5f2a75 60%,
    #701796 90%
  );
  box-shadow: 0 15px 60px rgba(0, 22, 84, 0.1);
}

.nav-menu {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333d46;
  font-weight: 500;
  font-size: 14px;
}

.nav-menu > a {
  padding: 30px 12px;
  color: #eee;
  text-decoration: none;
}

/* ----- Form-group / general ----- */
section {
  padding: 80px 100px 82px;
}

h1 {
  line-height: 40px;
  font-size: 36px;
  color: #333d46;
  font-weight: 600;
}
.container {
  width: 80%;
  margin: 0 auto;
}

.global-col {
  display: flex;
  justify-content: space-between;
}

input:focus {
  outline-color: #d8c1f6;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-start {
  align-items: flex-start !important;
}

.form-group {
  margin: 1rem;
}

.form-control {
  width: 100%;
  height: 54px;
  padding-left: 10px;
  border: 1px solid #e6ebf5;
  color: #707e9c;
  border-radius: 4px;
  font-size: 1rem;
}

.form-group > label {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.8;
}

/* ----- Form-group / first col ----- */

.full_name-col-xl,
.phone-col-xl {
  width: 50%;
}

.email-col-xl,
.message-col-xl,
.contact_me-col-xl {
  width: 100%;
}

.form-message {
  width: 100%;
  height: 108px;
  padding-left: 5px;
  border: 1px solid #e6ebf5;
  color: #707e9c;
  border-radius: 4px;
  font-size: 1rem;
  resize: none;
}

textarea:focus {
  outline-color: #d8c1f6;
}

button {
  padding: 16px 45px;
  border: none;
  box-shadow: none;
  border-radius: 4px;
  color: #fff;
  background: #701796;
  font-size: medium;
}

/* ----- Form-group / scnd col ----- */

ol,
h2 > p {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.list-unstyled {
  list-style: none;
  padding: 40px;
}

li {
  display: flex;
}

.rounded-circle {
  background: rgb(112 7 216 / 28%) !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-1,
.icon-2 {
  color: #701796;
  font-size: 1.25rem;
}

.fa-at {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.margin-left {
  margin-left: 1.5rem;
}

h2 {
  line-height: 26px;
  font-size: 21px;
  color: #333d46;
  font-weight: 600;
}

.item.social {
  text-align: center;
  font-size: 28px;
  height: 36px;
  line-height: 36px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  color: #fff;
  opacity: 0.75;
  display: flex;
  justify-content: space-evenly;
}

footer {
  background: linear-gradient(
    141deg,
    #242648 0%,
    #232144 20%,
    #5f2a75 50%,
    #701796 90%
  );
  font-size: 12px;
  color: #eee;
  text-decoration: none;
  width: 100%;
  height: 40px;
  text-align: center;
  align-content: center;
}

/* --breakpoint:
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1100px; */

@media (max-width: 1100px) {
  section {
    padding: 50px 80px 0px;
  }

  .global-col {
    display: inline;
  }

  ol.list-unstyled {
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
  }

  li {
    margin: 0 0 30px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 28px;
  }

  ol.list-unstyled {
    padding: 15px;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .nav-menu {
    height: 50px;
  }
  section {
    padding: 20px 40px 0px;
  }

  h1 {
    font-size: 22px;
  }

  ol.list-unstyled {
    padding: 30px 15px;
    flex-direction: column;
  }

  .full_name-col-xl,
  .phone-col-xl {
    width: 110%;
  }
  button {
    padding: 14px 42px;
  }
  h2 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  section {
    padding: 10px 30px 0px;
  }

  li {
    margin: 0 0 30px;
  }

  .margin-left > p {
    font-size: 14px;
  }
}
